.layout-container {
    background-color: #19181f;
}

.list-note-item {
    position: relative;
    background-color: #272530;
    color: aliceblue;
}

.no-notes-text {
    margin: 0px;
    margin-top: 5px;
    text-align: center;
    color: #69797d;
}

.active {
    background-color: #28204d !important;
}

.delete-button {
    position: absolute;
    right: 0;
    margin: 0px 5px 0px 0px;
    padding: 0px 5px 2px 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    font-size: 20px;
    z-index: 1;
}

.date-text {
    color: #69797d;
    margin: 10px 0px 0px 0px;
}

.current-note{
    display: flex;
    position: relative;
    flex-direction: column;

}

.header {
    width: 100%;
    font-size: larger;
    font-weight: bold;
    background-color: transparent;
    color: aliceblue;
    border-style: none;
}

.no-note-heading {
    color: aliceblue;
}

.header-style {
    width: 100%;
    border: inset;
    border-color: gray;
}

.text-area {
    width: 100%;
    height: 100%;
    border: inset;
    border-top: none;
    border-color: gray;

}

.content {
    height: 100%;
    width: 100%;
    border-top-style: none;
    border-style: none;
    background-color: transparent;
    color: aliceblue;
}

textarea.content:focus {
    outline: none;
    border: none;
}

input.header:focus {
    outline: none;
    border: none;
}

.edit-read-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.sidebar {
    position: relative;
}

.logout-button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}

.add-note-button {
    font-size: x-large;
    padding: 0px 10px 0px 10px;
    margin: 5px;
    border-radius: 5px;
}