html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.layout-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 30%;
    margin: 5px;
    border-color: lightblue;
    border-style: groove;
}

.current-note {
    width: 70%;
    margin: 5px;
    border-color: lightblue;
    border-style: groove;
}